* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    background-color: #141922;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.d-flex {
    display: flex;
}

body>*,
.main-container>* {
    /* min-width: 100px; */
    min-height: 80px;
    /* border: 1px dashed yellow; */
}

.main-container {
    flex-grow: 1;
    flex-direction: row;
}

.main-content {
    flex-grow: 1;
    flex-direction: column;

}

.header {
    height: 100px;
    /* border: 1px solid yellow; */
}

/* utils */
.txt-white {
    color: white;
}

li {
    list-style-type: none;
}

.border {
    border: 1px dashed red;
}

.paddingtop30 {
    padding-top: 30px;
}

.margintop30 {
    margin-top: 30px;
}

.row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

}

.btn {
    border: 1px solid white;
    border-radius: 30px;
    padding: 8px 25px;
    transition: transform 0.2s linear;
}

.txt-center {
    text-align: center;
}

.txt-grey {
    color: grey;
}

.margintop10 {
    margin-top: 10px;
}

/* header */
.header {
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    background-color: black;
}

.header a {
    display: inline-block;
    text-decoration: none;
    font-size: .5rem;

}

.btn:hover {
    transform: scale(1.1);
}

/* side navbar */
.navbar {
    flex-shrink: 0;
    /* overflow: auto; */
    width: 200px;
    background-color: black;
    flex-direction: column;
    padding: 20px;
}


.navbar {
    flex-direction: column;
}

.menu-side {
    height: 100%;
}

.playlist {
    overflow: auto;
    /* height: 460px; */
    display: flex;
}

.navbar li {
    margin: 10px 0;
}

.navbar a:hover {
    color: white;
    border-left: 2px solid #ADFF2E;
}

.navbar a {
    text-decoration: none;
    color: grey;
    padding-left: 10px;
}

.logo-svg {
    height: 40px;
}

.fa-square-plus {
    font-size: 2rem;
    margin: 10px 0;
}

.logo-small {
    height: 20px;
}

.block li {
    list-style-type: none;
    margin-left: -20px;
}

.block {
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.none {
    flex-direction: column;
}

.side-bottom {
    margin-top: 20px;
    height: 100px;
}

.bottom-txt {
    font-size: 12px;
    border-bottom: 1px solid grey;
    padding-bottom: 15px;
    padding-left: 20px;
    display: block;
    margin-bottom: 10px;

}

.block ul {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
}

.bottom-doe {
    font-size: 13px;
}

.bottom-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;
}

.search-bar {
    display: none;
    margin: 5px 0;
}

.search:focus~.search-bar {
    display: block;
}

input {
    border-radius: 30px;
    padding: 4px 5px;
    border: 3px solid #ADFF2E;
}

.library-container li {
    color: white;
}

.library-container {
    display: none;
    margin: 10px 0;
}

.library-button:focus~.library-container {
    display: block;
}

.library-img {
    height: 25px;
}

.new-playlist {
    display: none;
}

.playlist-txt {
    margin-top: 15px;
    margin-left: 5px;
}

.playlist:focus+.new-playlist {
    display: block;
}

.search-small {
    position: absolute;
    top: 105px;
    left: 50px;


}

.search-small-li {
    position: absolute;
    top: 85px;
    left: 30px;
    z-index: 1;
    display: none;
}

.search-small-focus:focus~.search-small-li {
    display: block;
}

.relative {
    position: relative;
}

.library-container-small {
    display: none;

}

.library-container-small li {
    margin-left: 1px;
}

.library-button-small:focus~.library-container-small {
    display: block;
}

/* scroll-bar */
.playlist::-webkit-scrollbar {
    width: 12px;

}

.playlist::-webkit-scrollbar-track {
    background: black;

}

.playlist::-webkit-scrollbar-thumb {
    background-color: #ADFF2E;

    border-radius: 20px;

    border: 4px solid black;

}

/* HEADER NAV */
.content-list li a {
    font-size: 0.8rem;
    color: grey;
    text-decoration: none;
}

.content-list li {}

.menu-content ul {
    flex-wrap: wrap;
    gap: 20px;
}

/* box-content */
.content-list a:hover {
    color: white;
    border-bottom: 2px solid #ADFF2E;
    padding-bottom: 3px;

}





/* main content */
.card-container {
    flex-direction: column;
    padding: 20px;
    overflow: auto;
    flex-grow: 1;
}

.menu-content {
    justify-content: center;

}

.content-list {
    /* border: 1px dashed red; */
}

.cards {
    gap: 1rem;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10px;
}

.card:hover,
.card-john:hover {}

.card {
    flex-basis: calc((100% / 6) - 1rem);
    flex-shrink: 0;
    /* min-width: 100px; */
    position: relative;
}

.card-john {
    flex-basis: 15%;
    min-height: 40%;
}

.cards img {
    width: 100%;
    /* height: 100%; */
    cursor: pointer;

}

.cards h2 {
    font-size: 1rem;
    margin: 3px 0;
}

.cards p {
    font-size: .8rem;
}

.circles-img {
    border-radius: 50%;
}

.card img {
    transition: filter 0.5s linear;
}

.card img:hover {
    filter: brightness(50%);
}



.card img:hover~.play-icon {
    display: block;
}

.play-icon {
    position: absolute;
    top: 25%;
    left: 38%;
    display: none;
}

.play-icon .fa-circle-play {
    color: white;
    font-size: 3rem;
}

/* footer nav */

.footer>* {
    /* border: 1px dashed red; */
    min-height: 80px;
    width: 20%;
    background-color: #282828;
}

/* .footer {
    min-width: 100px;
    min-height: 100px;

} */

/* .footer {
    min-height: 100px;
    min-width: 100px;
} */

.player {
    flex-grow: 1;
}

.info-track {
    padding: 20px;
    min-width: 115px;
    gap: 5%;
}

.sinister-small {
    height: 30px;
    margin-right: 10px;
}

.footer-txt {
    padding-top: 5px;
}

.footer-txt p,
h4 {
    font-size: 10px;
}

.footer a {
    color: grey;
    margin: 5px;
}

.footer a:hover {
    color: white;
}

.img-footer {
    /* margin-right: 20px; */
}

.icons-footer-left {}


.player {
    flex-direction: column;
    align-items: center;
    position: relative;
}

.player-buttons {
    justify-content: center;
    gap: .5rem;
    padding-bottom: 20px;
}

.volume {
    min-width: 115px;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.player-line {
    height: 5px;
    background-color: grey;
    width: 80%;
    border-radius: 50px;

}


.player-line-white {
    height: 5px;
    background-color: white;
    width: 30%;
    border-radius: 50px;
    position: relative;
}

.fa-circle-play:hover {
    transform: scale(1.1);
}

.time-left {
    position: absolute;
    left: -15px;
    top: 55%;
    font-size: 12px;
}

.time-right {
    position: absolute;
    right: -15px;
    top: 55%;
    font-size: 12px;
}


.volume-bar {
    height: 5px;
    background-color: grey;
    width: 100px;
    border-radius: 50px;
}

.volume-bar-white {
    height: 5px;
    background-color: white;
    width: 30%;
    border-radius: 50px;
    position: relative;
}

.circle {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 100%;
    top: -4px;
    display: none;
    z-index: 0;
}

.player-line:hover .circle {
    display: block;
}

.player-line:hover .player-line-white {
    background-color: #ADFF2E;
}


.circle-volume {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 90%;
    top: -5px;
    display: none;
}

.volume-bar:hover .volume-bar-white {
    background-color: #ADFF2E;
}

.volume-bar:hover .circle-volume {
    display: block;
}

.relative {
    position: relative;
}

.player-line-function {
    height: 5px;
    background-color: white;
    width: 15px;
    border-radius: 50px;
    position: absolute;
    top: 60.5%;
    left: 33%;
    /* transition: width 10s linear; */
}

.play:focus~.player-line-function {
    /* width: 275px; */
    animation: animation 10s linear;
}

@keyframes animation {
    0% {
        width: 30px;
    }


    100% {
        width: 57%;
    }
}

.pause {
    position: absolute;
    z-index: 1;
    top: 0%;
    display: none;
}

.play:focus+.pause {
    display: block;
}






/* responsive */

@media screen and (max-width:1100px) {
    .card {
        min-width: 20%;
    }

    .card-john {
        min-width: 20%;
    }
}

@media screen and (max-width:699px) {
    .card {
        min-width: 40%;
    }

    .card-john {
        min-width: 40%;
    }
}


@media screen and (max-width: 599px) {
    .main-container .navbar {
        width: 30px;
    }

    .navbar .none {
        display: none;
    }

    .block {
        display: flex;
    }

    .card {
        min-width: 40%;
    }

    .card-john {
        min-width: 40%;
    }

    .bottom-icons {
        /* margin-top: 420px;
        margin-left: -20px; */
    }

    .bottom-txt {
        border-bottom: none;

    }

    .icons-footer-left {
        flex-direction: column;
    }
}


.footer-box {
    flex-basis: calc(100% / 3);
}